.common_btn {
    float: right;
    margin-right: 10px;
}

.content .input-group{
    padding: 5px 0;
}

#banner_txt {
    font-size: 40px;
}

#result_table{
    display: none;
}

.btn-group {
    margin-top: 20px;
}